.tcfInput
  box-sizing: border-box
  width: 100%
  min-height: 3px
  padding: 6px 9px

  background: #fbfcfe
  border: 1px solid rgba(96, 125, 159, 0.25)
  border-radius: 3px
  box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25)
  transition: border linear 50ms

  color: #29323d
  font-size: 14px
  line-height: 20px

  &:focus
    border-color: rgba(96, 125, 159, 0.8)
    outline: none


.tcfInput--group
  display: flex
  flex-flow: row nowrap

  > .tcfInput
    border-radius: 0

  > .tcfInput:first-child
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px

  > .tcfInput:last-child
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px

.tcfInput--groupLabel
  padding: 5px 9px

  border: 1px solid rgba(96, 125, 159, 0.25)
  border-radius: 16px

  font-size: 14px
  line-height: 20px

  &:first-child
    padding-left: 12px

    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: none

  &:last-child
    padding-right: 12px

    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-left: none
