.tcfFactory
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  
  &.multiple
    margin: -1px 0 0 -1px

.tcfFactory--primaryButton,
.tcfFactory--quickButton
  margin: 1px 0 0 1px
  flex: 1
  
.tcfFactory--primaryButton
  user-select: none
  