.tcfInstanceWidget
  padding: 15px

  border-radius: 5px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)

.tcfInstanceWidget--collapsiblePanel
  depth-colors()
  position: relative
  overflow: hidden

  background: #f1f5f8
  border-radius: 5px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)

  &.isExpanded:not(.depth-1)
    background: #fff

  &.isExpanded:after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    
    border-left: 3px solid var(--tcf-primary-color)
