.tcfColorInputInput
  box-sizing: border-box;
  width: 100%
  min-height: 3px;
  padding: 5px 7px;

  border: 1px solid rgba(0, 0, 20, 0.1);
  border-radius: 2px;
  transition: border linear 50ms;

  color: #29323d;
  font-size: 14px;
  line-height: 20px;

  &:focus
    border-color: #0D99F2;
    outline: none;    
