.tcfFieldGroup
  margin: 20px 0
  
  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

  &.bordered
    padding: 12px
    
    border: 1px solid rgba(0, 0, 20, 0.1)
    border-radius: 2px

  &.shadowed
    padding: 12px

    border-radius: 5px
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)

.tcfFieldGroup--label
  margin: 0 0 12px
  
  font-weight: bold

.tcfFieldGroup--content
  display: flex;
  flex-flow: row wrap;

  &.isBorderless
    margin: -20px
  
  &:not(.isBorderless)
    margin: -12px -10px
    
  &:not(.isBorderless) > *
    box-sizing: border-box
    margin: 12px 0
    padding: 0 10px
