.tcfFieldGroup
  padding: 12px

  border: 1px solid rgba(0, 0, 20, 0.1)
  border-radius: 2px

.tcfFieldGroup--label
  margin: 0 0 12px
  
  font-weight: bold

.tcfFieldGroup--content
  display: flex;
  flex-flow: row wrap;

  &.isCompact
    margin: -20px
  
  &:not(.isCompact)
    margin: -12px -10px
    
  &:not(.isCompact) > *
    box-sizing: border-box
    margin: 12px 0
    padding: 0 10px
