.tcfLayoutSelect
  display: flex
  flex-flow: row nowrap
  align-items: center

.tcfLayoutSelect--widget
  position: relative
  max-width: 400px
  flex: 1

.tcfLayoutSelect--edit
  margin-left: 10px
  cursor: pointer

  > *
    vertical-align: top

  &:hover
    color: #0B69A3
    
.tcfLayoutSelect--flyout
  padding: 10px
  width: 300px

  > *
    margin: 0 0 10px 0
    
  > *:last-child
    margin-bottom: 0
