.tcfLocationFieldSearch
  display: flex;
  flex-flow: row nowrap
  align-items: center
  width: 100%
  margin-bottom: 10px

.tcfLocationFieldSearch--resolve
  position: relative
  margin-right: 10px

.tcfLocationFieldSearch--input
  flex: 1
