@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: 
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');

.tcfIcon
  display: inline-block
  width: 18px
  height: 18px

  speak: none
  user-select: none

  line-height: 18px

  font-weight: normal
  font-variant: normal
  font-style: normal
  font-feature-settings: "liga", "dlig"
  text-transform: none
  
  letter-spacing: normal
  text-align: center
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  vertical-align: midle

  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale

  &.craft
    position: relative
    top: 1px

    font-family: 'Craft'
    font-size: 14px;

  &.material
    font-family: 'Material Icons';
    font-size: 18px;
  
  &.medium
    width: 24px
    height: 24px
    font-size: 24px
    line-height: 24px

  &.large
    width: 36px
    height: 36px
    font-size: 36px
    line-height: 36px

  &.huge
    width: 48px
    height: 48px
    font-size: 48px
    line-height: 48px
