.tcfColorInput
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

.tcfColorInput--swatch
  position: relative
  width: 48px;
  height: 32px;
  margin-right: 10px;

  border-radius: 3px;
