.tcfTextAndIcon
  display: flex
  flex-flow: row nowrap
  align-items: center

.tcfTextAndIcon--icon
  margin-right: 5px

.tcfTextAndIcon--text
  overflow: hidden

  font-weight: bold
  white-space: nowrap
  text-overflow: ellipsis

