.tcfColorInputSwatch
  position: relative
  overflow: hidden
  
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgAQMAAACxAfVuAAAABlBMVEW/v7////+Zw/90AAAAL0lEQVR4AWJg+I8JB6MgoB06IAEAAAAQ9P91OwIfiBOmT58+ffr06fP76dOnT58BbhM6GwUtLbwAAAAASUVORK5CYII=')

.tcfColorInputSwatch--color
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
