.tcfInstancePreviewImage
  width: 30px
  height: 30px
  
  &.large
    width: 100px
    height: 100px

  .element
    padding: 0

  .elementthumb
    left: 0 !important
    border-radius: 2px !important 
    
  .label
    display: none
