@require '../../../includes'

.tcfArrayWidgetList
  margin: -5px 0;

.tcfArrayWidgetList--empty
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 90px
  padding: 5px 0

  color: $gray-dark

  &:after
    content: ''
    display: block
    position: absolute
    top: 5px
    right: 0
    bottom: 5px
    left: 0

    border: 1px dashed $border-color

.tcfArrayWidgetList--placeholder
  position: relative
  display: block

  &:after
    content: ''
    position: absolute
    display: block
    top: 5px
    right: 0
    bottom: 5px
    left: 0

    background: $gray-dark

.tcfArrayWidgetList--footer
  padding: 15px 0 0

