.tcfSynchronizeHeader--title
  margin-bottom: 20px
  font-size: 18px

.tcfSynchronizeHeader--sites
  display: flex
  flex-flow: row nowrap
  margin: 0 -10px

.tcfSynchronizeHeader--site
  flex: 1
  padding: 0 10px

.tcfSynchronizeHeader--siteTitle
  margin-bottom: 5px

  font-weight: bold

.tcfSynchronizeHeader--siteStatic
  padding: 0 22px 0 10px
  
  border-radius: 3px
  background: rgba(0, 0, 20, 0.02)

  line-height: 32px
