@require '../../includes'

.tcfInstanceForm
  display: grid
  grid-gap: 20px

.tcfInstanceForm--empty
  padding: 10px

  background: $gray-lighter
  border-radius: 3px

  color: $gray-dark
  text-align: center
