.tcfInstancePreview
  > *
    user-select: none
    pointer-events: none

  .row
    display: flex;
    flex-flow: row
    margin: 0 -10px
  
  for num in (1..12)
    .col-{num}
      box-sizing: border-box
      width: 8.333333% * num
      padding: 0 10px

  dl
    display: flex
    flex-flow: row nowrap
    align-items: center

  dt, dd
    margin-right: 10px
    
    &:last-child 
      margin-right: 0

  dt
    flex: 1

  .snippet
    overflow: hidden
    max-height: 100px

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)

    pointer-events: none
    user-select: none
  
  .stack
    > * 
      margin-top: 10px
      margin-bottom: 10px

    > *:first-child
      margin-top: 0

    > *:last-child
      margin-bottom: 0

.tcfInstancePreview--elements
  overflow: hidden
  margin-top: -7px

  > .tcfInstancePreview--thumb,
  > .element
    float: left
    margin: 7px 7px 0 0

.tcfInstancePreview--thumb
  display: flex
  align-items: center
  justify-content: center

  overflow: hidden
  width: 30px
  height: 30px

  border-radius: 3px
  background: #f1f5f8

  &.large
    width: 100px
    height: 100px

.tcfInstancePreview--background
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  background-size: cover
  background-position: center center

  &.blur
    filter: blur(2px)
