@require '../../includes'

.tcfInstancePreview
  position: relative
  overflow: hidden
  max-height: 132px

  &.isClickable
    cursor: pointer
  
  > *
    user-select: none
    pointer-events: none

.tcfInstancePreview--content
  padding: 16px

  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 100px, rgba(0, 0, 0, 0) 132px)
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 100px, rgba(0, 0, 0, 0) 132px)

  color: $gray-darker
  font-size: 12px
  line-height: 1.3em

  h1, h2, h3, h4, h5, p, ul, dl, li
    margin: 0 0 8px

    &:last-child
      margin-bottom: 0

  .row
    display: flex;
    flex-flow: row
    margin: -10px

    > *
      box-sizing: border-box
      padding: 10px

  for num in (1..12)
    .col-{num}
      box-sizing: border-box
      padding: 10px
      width: 8.333333% * num

  dl
    display: flex
    flex-flow: row nowrap

  dt, dd
    margin-right: 10px
    
    &:last-child 
      margin-right: 0

  dd
    flex: 1

  .pill
    padding: 0 8px

    background: rgba(0, 0, 0, 0.1)
    border-radius: 8px

  .snippet
    overflow: hidden
    max-height: 100px

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)

    pointer-events: none
    user-select: none

  .flexRow
    display: flex
    flex-flow: row wrap
    align-items: stretch
    margin: -5px

    > *
      margin: 5px
      max-width: 300px

  .flexRow.noWrap
    flex-wrap: nowrap

  .flexRow.withMinWidth
    > *
      min-width: 100px

  .flexRow.withSeparator
    > *
      padding-left: 10px
      border-left: 1px solid $border-color

    > *:first-child
      border-left-color: transparent

  .flexColumn
    display: flex
    flex-flow column nowrap
    margin: -5px
    
    > * 
      margin: 5px

.tcfInstancePreview--elements
  display: flex
  flex-flow: row wrap
  margin: -4px

  > .tcfInstancePreview--thumb,
  > .element
    margin: 4px

.tcfInstancePreview--thumb
  display: flex
  align-items: center
  justify-content: center

  overflow: hidden
  width: 30px
  height: 30px

  border-radius: 2px
  background: #fff
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)

  &.large
    width: 100px
    height: 100px

.tcfInstancePreview--background
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  background-size: cover
  background-position: center center

  &.blur
    filter: blur(2px)

