.tcfInstancePreview--textSnippet
  overflow: hidden
  max-height: 100px

  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50px, rgba(0, 0, 0, 0) 100px)

  pointer-events: none
  user-select: none

.tcfInstancePreview--elements
  overflow: hidden
  margin-top: -7px

  > .tcfInstancePreview--thumb,
  > .element
    float: left
    margin: 7px 7px 0 0

.tcfInstancePreview--thumb
  display: flex
  align-items: center
  justify-content: center

  overflow: hidden
  width: 30px
  height: 30px

  border-radius: 3px
  background: #f1f5f8

  &.large
    width: 100px
    height: 100px
