.tcfColorInputPicker
  width: 300px
  padding: 15px

.tcfColorInputPicker--controls
  display: flex
  flex-flow: row nowrap
  margin-top: 10px

.tcfColorInputPicker--sliders
  flex: 1

  > *
    margin: 5px 0
  
  > *:first-child
    margin-top: 0

  > *:last-child
    margin-bottom: 0

.tcfColorInputPicker--swatch
  width: 37px
  align-self: stretch
  margin-left: 10px

  border-radius: 3px

.tcfColorInputPicker--values
  display: flex
  flex-flow: row nowrap
  margin: 10px -5px 0 -5px

.tcfColorInputPicker--value
  flex: 1
  padding: 0 5px

  text-align: center

  &.wide
    flex: 2

  .tcfColorInputInput
    text-align: center
