.tcfHotspotPreview
  display: flex
  justify-content: center
  align-items: center
  position: relative
  width: 160px
  padding: var(--xs) var(--s)
  
  background-color: var(--custom-bg-color,var(--gray-050))
  border-radius: var(--large-border-radius)
  
  &.clickable
    cursor: pointer
  
.tcfHotspotPreview__thumb
  display: flex
  justify-content: center
  align-items: center
  width: 120px
  height: 120px
