.tcfDetailsPanel
  position: relative
  overflow: hidden
  will-change: height 

.tcfDetailsPanel--item
  position: relative
  will-change: opacity 

  &.to
    animation: tcfDetailsPanel--fadeIn 250ms both

  &.from
    position: absolute
    top: 0
    right: 0
    left: 0

    animation: tcfDetailsPanel--fadeOut 250ms both


@keyframes tcfDetailsPanel--fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes tcfDetailsPanel--fadeOut
  from
    opacity: 1
  to
    opacity: 0
