.tcfWindow
  display: flex
  flex-flow: column nowrap

  width: 1280px
  max-width: calc(100% - 40px)
  max-height: calc(100% - 40px)

  background: #fff
  border: 1px solid rgba(0, 0, 20, 0.1)
  border-radius: 5px
  box-shadow: 0 25px 100px rgba(0, 0, 0, 0.5)

.tcfWindow--content
  position: relative
  overflow: auto
  padding: 20px
  flex: 1

.tcfWindow--footer
  padding: 14px 24px
  
  background: linear-gradient(#ecedef, #e9eaec)
  box-shadow: inset 0 2px 1px -2px rgba(0, 0, 0, 0.2)

  &.flex
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-end
