.tcfLocation
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  position: relative
  height: 400px

.tcfLocation--map
  position: relative
  flex: 1
  width: 100%

.tcfLocation--mapInstance
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
