.tcfLinkWidget
  display: flex
  flex-flow: row nowrap
  align-items: stretch

.tcfLinkWidget--type
  width: 100px
  margin-right: 10px

.tcfLinkWidget--editor
  flex: 1
  margin-right: 10px

  &:last-child
    margin-right: 0
