.tcfLinkWidget
  display: flex
  flex-flow: row nowrap
  align-items: stretch

.tcfLinkWidget--type
  width: 100px
  margin-right: 10px

.tcfLinkWidget--editor
  display: flex
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: space-between
  flex: 1
  margin-right: 10px

  &:last-child
    margin-right: 0

.tcfLinkWidget--editorHash
  max-width: 120px
  margin: 0 0 0 10px
