// Styles used by the sources utility

.tcfSourceTable
  width: 100%
  table-layout: fixed

  th, td
    width: 50%
    padding: 5px

    border-bottom: 1px solid #f1f5f8

  tr:hover > *
    background: #f1f5f8
    
.tcfSourceList--sourceHandle
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size: 0.9em


// Extra styles used in the icon preview in the utilities section
// of the cp

.tcfIconGrid
  display: flex
  flex-flow: row wrap

.tcfIconGrid--item
  display: flex
  flex-flow: column nowrap
  width: 160px
  height: 96px
  margin: 10px 5px

  border-radius: 2px
  background: #fbfcfd

.tcfIconGrid--display
  display: flex
  align-items: center
  justify-content: center
  flex: 1

.tcfIconGrid--label
  overflow: hidden
  padding: 5px

  font-size: 75%
  white-space: nowrap
  text-align: center
  text-overflow: ellipsis


// Styles used by the details toggle

#main-content.has-details.tcfDetailsToggle--collapsed
  > #content-container
    width: auto
    max-width: 100%
    
  > #details-container
    position: absolute
    visibility: hidden
