// Colors
//

$white = #FFF
$gray-lighter = #F0F4F7
$gray-light = #E7EEF3
$gray = #D9DCE1
$gray-dark = #C0C4C6
$gray-darker = #616E7D

$border-color = #DEDEE1
$text-color = #29323D

$primary-color = #00B008
$primary-text-color = #FFFFFF
