// Colors
//

$white = #FFF
$gray-lighter = #F0F4F7
$gray-light = #E7EEF3
$gray = #D9DCE1
$gray-dark = #C0C4C6
$gray-darker = #616E7D

$border-color = #DEDEE1
$text-color = #29323D

$primary-color = #00B008
$primary-text-color = #FFFFFF

$red = #da5a47;
$blue = #0D99F2


// Mixins
//

depth-colors()
  &.depth-2
    --tcf-primary-color: #01A37F
    
  &.depth-3
    --tcf-primary-color: #859E00

  &.depth-4
    --tcf-primary-color: #3E756D

  &.depth-5
    --tcf-primary-color: #6D7332
